
html {
    overflow-y: scroll;
}

body#wholeDocument {
    -webkit-text-size-adjust:none; 
    font-family: Helvetica, sans-serif; 
    font-size: 12px;
font-family: "Helvetica Neue", sans-serif; 
    line-height: 1.32;
    
}
/* height hack to make nested divs set to 100% height work in Chrome and Firefox */
table.whole-row, table.whole-note, table#column-header {
    height: 1px;
}
table {
    border-collapse: collapse;
}
div {
    width: 100%;
    box-sizing: border-box;
    min-height: 13px;
}
div#centered, .temp {
    display: block;
    text-align: center;
}
div#centered > table, div.temp-wrapper {
    margin: 0 auto;
    text-align: left;
}
tr.outline-row > td > div, table.note-table {
    display: inline-table;
}
tr.outline-row > td > div > div, tr.outline-row > td div.note-icon, tr.note-row > td > div, table.outline-column div, table.note-table div  {
    display: inline-table;
}
div.column, div.note-filler > div {
    display: inline-block; 
}
tr#header div {
    display: inline-block;
}
div.pdf-div {
    width: 100%;
    position: relative;
    display: block;
}
object.pdf-object {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}
iframe.pdf-iframe {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    border: none;
}
td,th {
    padding: 0px;
    empty-cells: show;
}
div.force-wrap {
    table-layout: fixed;
    word-wrap: break-word;
}
tr#header {

        border-bottom: 1px solid rgba(0,0,0,0.25);
    
}
/* This is the table used for just the outline column/note column and is nested in the cell for the outline column of the row */
table.outline-column td, table.outline-column-note td {
    border-bottom: 0px;
    border-left: 0px;
}
tr.outline-row > td, tr.note-row > td  {
    height: inherit;
}
table.outline-column, tr.outline-row td, tr.note-row td, div.outline-column-div, div.note-filler, tr#header td, tr#header > td > div, div.note-outline-column-div {
    height: 100%;
}
@media all and (-ms-high-contrast:none) {
    /* Target IE */
    div#centered tr.outline-row > td, div#centered tr.note-row > td, div#centered tr#header td  {
        height: 5px;
    }
}
@supports (-ms-accelerator:true) {
    /* Target MS Edge */
    div#centered tr.outline-row > td, div#centered tr.note-row > td, div#centered tr#header td  {
        height: 5px;
    }
}
tr#header div, table.outline-column, table.note-table {
    width: 100%;
}
.handle {
    white-space: nowrap;
    text-align:right;
    vertical-align: baseline;
}
td.label {
    text-align: right;
    white-space: nowrap;
}
td.label, .column {
    vertical-align: baseline;
}
tr.note-row td.label {
    /* Same row label is put in invisibly the note to keep alignment but,
    if it's a large font size, this will cause the note to be taller
    than it should be. This works around that */
    line-height: 0;
}
div.white-space {
    white-space: pre-wrap;
}


/********* START ********
Grid lines
*************************/
tr#header td > div {
border-left: 1px solid rgba(0,0,0,0.08)
}
div.note-div, div.note-filler, div.outline-column-div, tr.outline-row > td:not(.column) > div.fill-cell, div.note-outline-column-div, tr.outline-row > td:nth-of-type(1) > div  {
    border-top: 1px solid rgba(0,0,0,0.08);
    border-left: 1px solid rgba(0,0,0,0.08);
}


/** don't put horizontal grid line under the column titles if shown **/
div#centered table:nth-of-type(2) div {
    
    border-top: none;
}

/** don't put a grid line between a row and its note **/
tr.note-row div, div.note-outline-column-div, tr.outline-row > td:nth-of-type(1) > div  {
    
    border-top: none;
}
table.whole-row:last-of-type {
    border-bottom: 1px solid rgba(0,0,0,0.08)
}

table#column-header {
border-top: 1px solid rgba(0,0,0,0.08)
}
table#column-header ~ table.whole-row:first-of-type {
    border-top: none;
}
tr.outline-row > td:last-of-type:not(.column) > div.fill-cell, tr.note-row > td:last-of-type:not(.note) > div.note-filler, tr#header td:last-of-type > div {
border-right: 1px solid rgba(0,0,0,0.08)
}
/* END grid lines */

table.outline-column-note {
    width: 100%;
    height: 100%;
}
.fill-cell {
    height: 100%;
    width: 100%;
}

.summary_node {
    background: rgba(0,0,0,.12);
}
    
/* To make checkbox columns always centered */
div#centered div.checkbox {
    text-align: center;
}

table.outline-column td:not(:last-of-type) {

}

/********* START ********
Expand/collapse
*************************/
.visible {

}
.hidden {
    display: none;
}
.temp {
    min-height: 0px;
}
/* END expand/collapse */

div.note-outline-column-div table {
    vertical-align: top;
}

td.empty {
    display: none;
}


/********* START ********
Image handle styles
*************************/
td.note {
    vertical-align: baseline;
}
div.handle img {
    vertical-align: middle;
}
div.note-icon {
    text-align: center;
}
img.status {
    height: 13px;
    width: 13px;
    position: relative;
    bottom: 1px;
    top: 0px;
}
img.checkbox-column {
    height: 13px;
    width: 13px;
    vertical-align: middle;
}
img.leaf {
    height: 5px;
    width: 5px;
    position: relative;
    top: -1px;
}
img.parent {
    height: 9px;
    width: 9px;
}
img.note-icon {
    height: 13px;
    width: 13px;
    position: relative;
    vertical-align: middle;
}

/* END image handle styles */


/********* START ********
Padding values
*************************/

/* Column text */
table.outline-column td:nth-of-type(4), div.column, tr#header div > div > div  {
    padding-left: 4px;
    padding-right: 4px;
}

table.outline-column td:nth-of-type(4), div.column, div.note-icon  {
    padding-bottom: 5px;
    padding-top: 4px;
}
/* When a note is expanded, the row it belongs to doesn't have bottom row padding, that padding goes to the bottom of the note */
table.note-expanded table.outline-column td:nth-of-type(4), table.note-expanded div.column, table.note-expanded div.note-icon {
    padding-bottom: 4px;
}
/* last-child class is set by JS */
tr.last-child table.outline-column td:nth-of-type(4), tr.last-child div.column, tr.last-child div.note-icon {
    padding-bottom: 5px;
}
/* Note text */
table.note-table td:nth-of-type(4) {
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 0px;
    padding-bottom: 5px;
}
table.note-table {
    margin-top: 0px;
}
/* Set above children padding */
tr[data-state="expanded"][data-has-children="1"] table.outline-column td:nth-of-type(4), tr[data-state="expanded"][data-has-children="1"] div.column {
    padding-bottom: 5px;
}
/* When there are children and note is expanded, don't set above children padding on the row, it goes to the note */
tr[data-state="expanded"][data-has-children="1"].note-expanded table.outline-column td:nth-of-type(4), tr[data-state="expanded"][data-has-children="1"].note-expanded div.column, tr[data-state="expanded"][data-has-children="1"].note-expanded div.note-icon {
    padding-bottom: 4px;
}
/* Set above children padding on the note when it is visible */
tr[data-state="expanded"][data-has-children="1"].note-expanded + tr.note-row table.note-table td:nth-of-type(4) {
    padding-bottom: 5px;
}
/* Set last child padding on the note when it is visible, last-child class is set through JS */
tr.note-row.last-child table.note-table td:nth-of-type(4) {
    padding-bottom: 5px;
}



td.label {
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 3px;
}
td.label:empty {
    vertical-align: inherit;
}
img.parent {
    padding-right: 3px;
}
img.leaf {
    padding-right: 5px;
}
/* End padding values */



table.alt-row tr.outline-row > td > div.alt-row-layer, table.alt-row tr.note-row > td > div.alt-row-layer, table.alt-row.whole-note {
    background-color: rgba(145,145,145,0.1)
}

tr.note-row td.note {
    /* padding-left: 5px;
    padding-right: 3px; */ 
    border: none;
color: rgb(122,122,122);
    
}
tr.note-row td.note-bg {

}
table.whole-row, table.whole-note, table#column-header, div.temp-wrapper {
width: 2501px;

}
/******************
Column widths and styles, including background. Also applies to column titles. Skip tr.note-row for the outline column.
These fold in any named styles applied to columns so any manual changes to named styles will also need to be done here
*******************/
/* When notes are set to span columns, need to override column widths */
div#centered table.span-columns {
    width: 100%;
    max-width: 100%;
}
/* Column widths + backgrounds */
tr#header td:nth-of-type(1), tr.outline-row > td:nth-of-type(1), tr.note-row > td:nth-of-type(1) { 
    width: 20px; 
    max-width: 20px; 
}
table.outline-column { 
    width: 276px; 
    max-width: 276px; 
}
tr#header td:nth-of-type(2), tr.outline-row > td:nth-of-type(2) { 
    width: 276px; 
    max-width: 276px; 
    
}
tr#header td:nth-of-type(3), tr.outline-row > td:nth-of-type(3), tr.note-row > td:nth-of-type(3) { 
    width: 199px; 
    max-width: 199px; 
    
}
tr#header td:nth-of-type(4), tr.outline-row > td:nth-of-type(4), tr.note-row > td:nth-of-type(4) { 
    width: 334px; 
    max-width: 334px; 
    
}
tr#header td:nth-of-type(5), tr.outline-row > td:nth-of-type(5), tr.note-row > td:nth-of-type(5) { 
    width: 339px; 
    max-width: 339px; 
    
}
tr#header td:nth-of-type(6), tr.outline-row > td:nth-of-type(6), tr.note-row > td:nth-of-type(6) { 
    width: 397px; 
    max-width: 397px; 
    
}
tr#header td:nth-of-type(7), tr.outline-row > td:nth-of-type(7), tr.note-row > td:nth-of-type(7) { 
    width: 150px; 
    max-width: 150px; 
    
}
tr#header td:nth-of-type(8), tr.outline-row > td:nth-of-type(8), tr.note-row > td:nth-of-type(8) { 
    width: 150px; 
    max-width: 150px; 
    
}
tr#header td:nth-of-type(9), tr.outline-row > td:nth-of-type(9), tr.note-row > td:nth-of-type(9) { 
    width: 245px; 
    max-width: 245px; 
    
}
tr#header td:nth-of-type(10), tr.outline-row > td:nth-of-type(10), tr.note-row > td:nth-of-type(10) { 
    width: 90px; 
    max-width: 90px; 
    
}
tr#header td:nth-of-type(11), tr.outline-row > td:nth-of-type(11), tr.note-row > td:nth-of-type(11) { 
    width: 129px; 
    max-width: 129px; 
    
}
tr#header td:nth-of-type(12), tr.outline-row > td:nth-of-type(12), tr.note-row > td:nth-of-type(12) { 
    width: 172px; 
    max-width: 172px; 
    
}

/* Column styles but not background. Separate from above because this doesn't apply to column titles. Skip tr.note-row for the outline column. */
tr.outline-row > td:nth-of-type(1), tr.note-row > td:nth-of-type(1){ 
    
}
tr.outline-row > td:nth-of-type(2) { 
    
}
tr.outline-row > td:nth-of-type(3), tr.note-row > td:nth-of-type(3){ 
    
}
tr.outline-row > td:nth-of-type(4), tr.note-row > td:nth-of-type(4){ 
    
}
tr.outline-row > td:nth-of-type(5), tr.note-row > td:nth-of-type(5){ 
    
}
tr.outline-row > td:nth-of-type(6), tr.note-row > td:nth-of-type(6){ 
    
}
tr.outline-row > td:nth-of-type(7), tr.note-row > td:nth-of-type(7){ 
    
}
tr.outline-row > td:nth-of-type(8), tr.note-row > td:nth-of-type(8){ 
    
}
tr.outline-row > td:nth-of-type(9), tr.note-row > td:nth-of-type(9){ 
    
}
tr.outline-row > td:nth-of-type(10), tr.note-row > td:nth-of-type(10){ 
    
}
tr.outline-row > td:nth-of-type(11), tr.note-row > td:nth-of-type(11){ 
    
}
tr.outline-row > td:nth-of-type(12), tr.note-row > td:nth-of-type(12){ 
    
}


/* Column header style */

tr#header div > div > div {
padding-bottom: 2px;

}
tr#header > td > div > div {
    
}


/* Level Styles */
/*****************
Level# styles – Does not include background colors. Applied to both nested outline column table and divs in non-nested row cells. Applied to row label cell of note rows.
Level# background color – Applied to both div holding nested outline column table and divs in non-nested row cells
Level# gutter color – Only applied to nested table for outline column
******************/
/* Level 1 styles */
tr.outline-row.level-1 td, tr.outline-row.level-1 div > div, tr.note-row.level-1 table.note-table td:nth-of-type(3) { 
    font-weight: 700;
    
}
/* Level 1 background color */
tr.level-1 > td > div.alt-row-layer > div, tr.level-1.note-row > td > div { 
    
}
/* Level 1 gutter color */
tr.outline-row.level-1 table.outline-column td:not(:last-of-type) { 
    
}
/* Level 2 styles */
tr.outline-row.level-2 td, tr.outline-row.level-2 div > div, tr.note-row.level-2 table.note-table td:nth-of-type(3) { 
    color: rgb(24,24,24);
    font-weight: 500;
    
}
/* Level 2 background color */
tr.level-2 > td > div.alt-row-layer > div, tr.level-2.note-row > td > div { 
    
}
/* Level 2 gutter color */
tr.outline-row.level-2 table.outline-column td:not(:last-of-type) { 
    
}

/*********************************************
Named styles info:
Padding values are not included here because they are additive and can affect a different row than the one that has the attribute
*********************************************/
/* Named Styles */
div#centered tr td .ns-eUsXLp0Pv1g-Heading1, .ns-eUsXLp0Pv1g-Heading1, div#centered .ns-eUsXLp0Pv1g-Heading1 div { 
    font-family: "Helvetica Neue", sans-serif; 
    font-weight: 300;
    
}
div#centered tr td .ns-d4-frBYwy2X-Heading2, .ns-d4-frBYwy2X-Heading2, div#centered .ns-d4-frBYwy2X-Heading2 div { 
    color: rgb(65,65,65);
    font-family: "Helvetica Neue", sans-serif; 
    font-weight: 700;
    font-size: 14px;
    
}
div#centered tr td .ns-kRw332h0q-G-Heading3, .ns-kRw332h0q-G-Heading3, div#centered .ns-kRw332h0q-G-Heading3 div { 
    font-family: "Helvetica Neue", sans-serif; 
    font-weight: 500;
    font-size: 16px;
    
}
div#centered tr td .ns-n2hYgbw3zCa-Heading4, .ns-n2hYgbw3zCa-Heading4, div#centered .ns-n2hYgbw3zCa-Heading4 div { 
    color: rgb(65,65,65);
    font-size: 13px;
    
}
div#centered tr td .ns-pyKvKRItaLj-Heading5, .ns-pyKvKRItaLj-Heading5, div#centered .ns-pyKvKRItaLj-Heading5 div { 
    color: rgb(65,65,65);
    font-size: 11px;
    
}
div#centered tr td .ns-d1IK5JFJ-FN-Heading6, .ns-d1IK5JFJ-FN-Heading6, div#centered .ns-d1IK5JFJ-FN-Heading6 div { 
    color: rgb(65,65,65);
    font-size: 9px;
    
}
div#centered tr td .ns-cu7JpNLFdhP-Content, .ns-cu7JpNLFdhP-Content, div#centered .ns-cu7JpNLFdhP-Content div { 
    color: rgb(144,144,144);
    font-style: italic;
    
}
div#centered tr td .ns-jVB-ecTExOa-Highlight1, .ns-jVB-ecTExOa-Highlight1, div#centered .ns-jVB-ecTExOa-Highlight1 div { 
    
}
div#centered tr td .ns-pc0nt1FcW3S-Highlight2, .ns-pc0nt1FcW3S-Highlight2, div#centered .ns-pc0nt1FcW3S-Highlight2 div { 
    
}
div#centered tr td .ns-nwrurbZGHeI-Highlight3, .ns-nwrurbZGHeI-Highlight3, div#centered .ns-nwrurbZGHeI-Highlight3 div { 
    
}

/* Named Styles Backgroud Colors */
div#centered tr td .ns-bg-eUsXLp0Pv1g-Heading1, .ns-bg-eUsXLp0Pv1g-Heading1 { 
    
}
div#centered tr td .ns-bg-d4-frBYwy2X-Heading2, .ns-bg-d4-frBYwy2X-Heading2 { 
    
}
div#centered tr td .ns-bg-kRw332h0q-G-Heading3, .ns-bg-kRw332h0q-G-Heading3 { 
    
}
div#centered tr td .ns-bg-n2hYgbw3zCa-Heading4, .ns-bg-n2hYgbw3zCa-Heading4 { 
    
}
div#centered tr td .ns-bg-pyKvKRItaLj-Heading5, .ns-bg-pyKvKRItaLj-Heading5 { 
    
}
div#centered tr td .ns-bg-d1IK5JFJ-FN-Heading6, .ns-bg-d1IK5JFJ-FN-Heading6 { 
    
}
div#centered tr td .ns-bg-cu7JpNLFdhP-Content, .ns-bg-cu7JpNLFdhP-Content { 
    
}
div#centered tr td .ns-bg-jVB-ecTExOa-Highlight1, .ns-bg-jVB-ecTExOa-Highlight1 { 
    background-color: rgba(255,197,0,0.25);
    
}
div#centered tr td .ns-bg-pc0nt1FcW3S-Highlight2, .ns-bg-pc0nt1FcW3S-Highlight2 { 
    background-color: rgba(246,120,137,0.25);
    
}
div#centered tr td .ns-bg-nwrurbZGHeI-Highlight3, .ns-bg-nwrurbZGHeI-Highlight3 { 
    background-color: rgba(120,195,68,0.25);
    
}

/* Named Styles Gutter Colors */
div#centered tr td .ns-gutter-eUsXLp0Pv1g-Heading1, .ns-gutter-eUsXLp0Pv1g-Heading1 { 
    
}
div#centered tr td .ns-gutter-d4-frBYwy2X-Heading2, .ns-gutter-d4-frBYwy2X-Heading2 { 
    
}
div#centered tr td .ns-gutter-kRw332h0q-G-Heading3, .ns-gutter-kRw332h0q-G-Heading3 { 
    
}
div#centered tr td .ns-gutter-n2hYgbw3zCa-Heading4, .ns-gutter-n2hYgbw3zCa-Heading4 { 
    
}
div#centered tr td .ns-gutter-pyKvKRItaLj-Heading5, .ns-gutter-pyKvKRItaLj-Heading5 { 
    
}
div#centered tr td .ns-gutter-d1IK5JFJ-FN-Heading6, .ns-gutter-d1IK5JFJ-FN-Heading6 { 
    
}
div#centered tr td .ns-gutter-cu7JpNLFdhP-Content, .ns-gutter-cu7JpNLFdhP-Content { 
    
}
div#centered tr td .ns-gutter-jVB-ecTExOa-Highlight1, .ns-gutter-jVB-ecTExOa-Highlight1 { 
    
}
div#centered tr td .ns-gutter-pc0nt1FcW3S-Highlight2, .ns-gutter-pc0nt1FcW3S-Highlight2 { 
    
}
div#centered tr td .ns-gutter-nwrurbZGHeI-Highlight3, .ns-gutter-nwrurbZGHeI-Highlight3 { 
    
}
